<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>pizza1_default.png</string>
		<string>pizza2_default.png</string>
        <string>pizza3_default.png</string>
        <string>pizza4_default.png</string>
        <string>pizza5_default.png</string>
	</array>
	<array>
		<string>meat1_default.png</string>
        <string>meat2_default.png</string>
        <string>meat3_default.png</string>
        <string>meat4_default.png</string>
        <string>meat5_default.png</string>
        <string>meat6_default.png</string>
	</array>
	<array>
		<string>brocolli_default.png</string>
        <string>zuchini_default.png</string>
        <string>yellowPepper_default.png</string>
        <string>redPepper_default.png</string>
        <string>spagel_default.png</string>
        <string>greenVegetable_default.png</string>
	</array>
     <array>
		<string>sushi1.png</string>
        <string>sushi2.png</string>
        <string>sushi3.png</string>
		<string>sushi4.png</string>
        <string>sushi5.png</string>
        <string>sushi6.png</string>
        <string>sushi7.png</string>
        <string>sushi8.png</string>
	</array>
    <array>
		<string>fastFood1.png</string>
        <string>fastFood2.png</string>
        <string>fastFood3.png</string>
		<string>fastFood4_new.png</string>
        <string>fastFood5.png</string>
        <string>fastFood6.png</string>
  
	</array>
    <array>
		<string>fruit1.png</string>
        <string>fruit2.png</string>
        <string>fruit3.png</string>
		<string>fruit4.png</string>
		<string>fruit5.png</string>
        <string>fruit6.png</string>
        <string>fruit7.png</string>
		<string>fruit8.png</string>
        <string>fruit9.png</string>
        <string>fruit10.png</string>
	</array>
    <array>
		<string>starch1.png</string>
        <string>starch2.png</string>
		<string>starch3.png</string>
        <string>starch4.png</string>
        <string>starch5.png</string>
        <string>starch6.png</string>
        <string>starch7.png</string>
        <string>starch8.png</string>
	</array>
    <array>
		<string>ice1.png</string>
        <string>ice2.png</string>
		<string>ice3.png</string>
        <string>ice4.png</string>
        <string>ice5.png</string>
        <string>ice6.png</string>
	</array>
</array>
</plist>
